    <footer class="fixed bottom-0 bg-white py-2 w-full flex justify-center items-center">
        <h1>Made with ❤️ by <a class="text-orange-400 font-medium" href="https://github.com/yudhaginongpratidina/" target="_blank">Yudha Ginong Pratidina</a></h1>
    </footer>
</body>
</html>