<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./assets/style.css">

    <title>Authentication API</title>
</head>
<body>

    <nav class="w-full py-3 bg-blue-500 flex justify-around fixed top-0">
        <div>
            <a href="/" class="text-white font-medium">Authentication API</a>
        </div>
        <div class="flex gap-4">
            <a href="/" class="text-white font-medium hover:text-black">Home</a>
            <a href="/docs" target="_blank" class="text-white font-medium hover:text-black">Docs</a>
            <a href="https://github.com/yudhaginongpratidina/Authentication.git" target="_blank" class="text-white font-medium hover:text-black">GitHub</a>
        </div>
    </nav>
