<%- include('components/header')  %>

    <div class="w-full min-h-screen bg-[url('/assets/bg-01.jpg')] bg-cover">
        <div class="min-h-screen flex flex-col justify-center items-center gap-3">
            <h1 class="text-3xl text-white">Authentication API</h1>
            <div class="flex gap-3">
                <a class="py-3 px-4 bg-yellow-300 rounded" href="https://github.com/yudhaginongpratidina/Authentication.git" target="_blank">View on GitHub</a>
                <a class="py-3 px-4 bg-orange-400" href="/docs">Read Docs</a>
            </div>
        </div>
    </div>

<%- include('components/footer')  %>